{% extends 'base_front.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container pt-4">
        <div class="d-flex justify-content-center">
            <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430.87 130.03" width="20rem">
                <path d="M39.11,23.91a1.46,1.46,0,0,0,1.3-.46q4.19-6.12,8.24-12.33a3.74,3.74,0,0,0-1-5.38c-2.93-2-6-3.83-9-5.74H36.11a19.27,19.27,0,0,0-2.55,2.56C30.7,6.69,28,10.9,25.16,15.09c-.27.41-.51.84-.86,1.41.22.12.36.22.51.29C29.57,19.18,34.32,21.58,39.11,23.91Z"/>
                <path d="M101.85,71.92a3.13,3.13,0,0,0-.19-.6,5.7,5.7,0,0,0-.58.32c-4.08,3.5-8.49,3.8-13.32,1.62-11.21-5.05-22.47-10-33.71-15a3.88,3.88,0,0,0-3.29-.12c.24.55.44,1,.68,1.52Q58.78,74.36,66.12,89a12.57,12.57,0,0,1,.68,1.5,3.64,3.64,0,0,1-1.46,4.23,3.57,3.57,0,0,1-4.44-.44,7.54,7.54,0,0,1-1.24-1.89Q51.38,76,43.17,59.43a2.49,2.49,0,0,0-2.63-1.62q-7.35.09-14.71,0a3.53,3.53,0,0,1-3.59-3.51,3.73,3.73,0,0,1,3.58-3.72c.42,0,.85,0,1.27,0,7.4,0,14.8,0,22.2,0a4.64,4.64,0,0,0,4.25-2.25c.55-.85,1.11-1.69,1.67-2.54,1.76-2.69,1.15-5-1.75-6.47Q47.18,36.16,40.87,33q-8.57-4.29-17.13-8.56c-2.48-1.23-4.24-.77-5.81,1.48-.17.24-.34.49-.5.74q-8,12-16,24.05c-1.88,2.83-1.87,3.91.14,6.62C10.33,69.25,19.11,81.16,28,93a6.19,6.19,0,0,1,1.12,5.77c-2.21,8.55-4.25,17.14-6.5,25.68A4.24,4.24,0,0,0,27,130c11.59-.14,23.17-.06,34.75-.06,7.32,0,14.63,0,21.94,0a3.86,3.86,0,0,0,4.1-3.51,11.67,11.67,0,0,0,.09-1.77c0-6.18,0-12.35,0-18.52a3.94,3.94,0,0,1,2-3.7c1-.62,2-1.3,2.93-2,5.09-3.89,8.27-9,8.84-15.36C102,80.73,101.79,76.31,101.85,71.92Z"/>
                <path d="M62.49,53.6c2.94,2.16,6.41,3.29,9.28,4.32,2,0,3.07-.59,3.82-1.71,4.3-6.42,8.61-12.84,12.85-19.31a3.81,3.81,0,0,0-1.19-5.54q-2.94-2-6-3.86c-2.32-1.42-4.4-.95-5.92,1.29-1.77,2.63-3.51,5.27-5.27,7.91q-3.94,5.91-7.87,11.82C61,50.31,61,52.48,62.49,53.6Z"/>
                <path d="M106.07,43.54q-2.79-1.86-5.63-3.65c-2.38-1.49-4.43-1-6,1.29-1.8,2.66-3.56,5.33-5.34,8-1.95,2.92-3.91,5.82-5.83,8.76-1.42,2.17-.94,4.69,1.23,5.77C87,64.94,89.49,66,92,67.07a4.8,4.8,0,0,0,1.06.24,4,4,0,0,0,3.7-1.86c3.54-5.3,7.1-10.6,10.6-15.92C108.89,47.22,108.39,45.1,106.07,43.54Z"/>
                <path d="M46.53,27.61c.22.13.36.23.51.31,4.75,2.38,9.51,4.75,14.26,7.15.72.36,1.06,0,1.42-.55,2.13-3.19,4.29-6.37,6.4-9.57,1.58-2.4,1.09-4.63-1.32-6.2q-3.39-2.2-6.8-4.39c-2.76-1.77-4.76-1.36-6.57,1.33q-3.48,5.21-7,10.43C47.18,26.56,46.9,27,46.53,27.61Z"/>
                <path d="M192.34,86.15c0,9.65-7.92,16.13-19.94,16.13H147.19V49H173c9.65,0,16.13,5.76,16.13,14.48,0,4.1-2.16,7.63-6,10.22C188.89,76,192.34,80.46,192.34,86.15ZM162,68.79h7.27c2.74,0,4.54-1.51,4.54-3.81s-1.73-3.75-4.18-3.75H162ZM177.08,85.5c0-2.66-2.16-4.47-5.26-4.47H162v9h9.65C174.92,90,177.08,88.24,177.08,85.5Z"/>
                <path d="M240,90v12.24H200V49H239.5V61.23H214.8V69.3h22V81.54h-22V90Z"/>
                <path d="M289.9,61.23H274.56v41.05H259.73V61.23H244.39V49H289.9Z"/>
                <path d="M341,61.23H325.68v41.05H310.85V61.23H295.51V49H341Z"/>
                <path d="M384.29,90v12.24H347.57V49H362.4V90Z"/>
                <path d="M430.87,90v12.24h-40V49h39.53V61.23h-24.7V69.3h22V81.54h-22V90Z"/>
            </svg>
        </div>
        <div class="d-flex justify-content-center mb-5 mt-3">
            <div class="card card-login shadow-sm">
                <div class="text-center">
                    <h3 class="pt-3" >Connexion</h3>
                </div>
                <div class="card-body">
                    <form action="{{ path('app_login') }}" method="post"
                          class="d-flex flex-column justify-content-center">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="d-flex justify-content-center">
                            <button class="btn mt-4 btn-bettle" type="submit">Connexion</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
