body{
    background-color: #111111 !important;
    font-family: 'Blinker', sans-serif !important;
    color: #FFFFFF;
}
nav {
    background-color: #000000 !important;
}

nav ul li a {
    color:#FFFFFF !important;
}

/* .home-container {
    background-size: cover !important;
    color: #fff;
    height: 00px;
}

.section1 {
    height: 600px;
    padding-top: 40px;
    padding-bottom: 20px;background: url('../img/poings.jpg');
    background-size: cover;
    background-position: right bottom;
    color: white;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 56px;
    margin: 0;
    font-weight: bold;
}
a {
    margin-top: 25px;
    font-size: 15px;
}
.cta-button {
    background-color: #6A0903;
    padding: 1em 3em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3s;
    letter-spacing: 0.05em;
    text-align: center;
    animation: fadeIn 1s;
} */



