body{
    background-color: #111111 !important;
    font-family: 'Blinker', sans-serif !important;
    color: #FFFFFF;
}
nav {
    background-color: #000000 !important;
}

nav ul li a {
    color:#FFFFFF !important;
}