<form method="post" action="{{ path('trial_challenge_accept', {'id': trial.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('acceptChallenge' ~ trial.id) }}">
    <button class="btn">Accept</button>
</form>
