<form method="post" action="{{ path('front_trial_accept', {'id': trial.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('acceptTrial' ~ trial.id) }}">
    <button class="btn">Accept</button>
</form>
