<form method="post" action="{{ path('front_trial_challenge_accept', {'id': trial.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('acceptChallenge' ~ trial.id) }}">
    <button class="btn btn-bettle">Accepter</button>
</form>
