<form method="post" action="{{ path('front_trial_refuse', {'id': trial.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ trial.id) }}">
    <button class="btn btn-bettle">Refuser</button>
</form>
