<form method="post" action="{{ path('back_tournament_join', {'id': tournament.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('join' ~ tournament.id) }}">
    <button class="btn">Join</button>
</form>
