<form method="post" action="{{ path('back_tournament_lock', {'id': tournament.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('lock' ~ tournament.id) }}">
    <button class="btn">Lock</button>
</form>