<form method="post" action="{{ path('back_tournament_quit', {'id': tournament.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('quit' ~ tournament.id) }}">
    <button class="btn btn-secondary w-100">Quit</button>
</form>
