<form method="post" action="{{ path('back_tournament_start', {'id': tournament.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('start' ~ tournament.id) }}">
    <button class="btn">Start</button>
</form>