<form method="post" action="{{ path('back_tournament_trial_start', {'tournament': tournament.id,'trial': startTrial.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir commencer ce combat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('startTrial' ~ startTrial.id) }}">
    <button class="btn btn-success my-2">Démarrer</button>
</form>
