{% extends 'base_back.html.twig' %}

{% block title %}New Trial{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Create new Tournament</h1>
    <form id="createTournament" action="{{ path('back_tournament_new') }}" method="POST">
        <input type="text" id="name" name="name" placeholder="Nom du tournoi" required/>
        <label for="nbMaxParticipants">Seulement les multiples de 2 seront acceptés</label>
        <input type="number" id="nbMaxParticipants" name="nbMaxParticipants" placeholder="Nombre de participants maximum" required/>
        <input type="text" class="datepicker" id="dateStart" name="dateStart" placeholder="Date de début" required/>
        <input type="text" class="timepicker" id="timeStart" name="timeStart" placeholder="Heure de début" required/>
        <input type="text" class="datepicker" id="dateEnd" name="dateEnd" placeholder="Date de fin" required/>
        <input type="hidden" name="_token" value="{{ csrf_token('newTournament') }}"/>
        <input type="submit" value="Create"/>
    </form>
    <a href="{{ path('back_tournament_index') }}">back to list</a>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',  function() {
        let form = document.getElementById('createTournament');
        let selectFighter1 = document.getElementById('fighter1');
        let selectFighter2 = document.getElementById('fighter2');
        let datestart = document.getElementById('dateStart');
        let dateend = document.getElementById('dateEnd');
        let timepicker = document.getElementById('timeStart');
        let nbMaxParticipants = document.getElementById('nbMaxParticipants');
        let defaultDate = new Date();
        defaultDate.setDate(defaultDate.getDate()+1)

        var dateStartInstance = M.Datepicker.init(datestart, {
            format: 'dd-mm-yyyy',
            autoClose : "true",
            minDate : defaultDate,
            setDefaultDate: true
        })
        var dateEndInstance = M.Datepicker.init(dateend, {
            format: 'dd-mm-yyyy',
            autoClose : "true",
            minDate : defaultDate,
            setDefaultDate: true
        })
        var timeInstance = M.Timepicker.init(timepicker, {
            autoClose: "true",
            twelveHour: false,
            defaultTime: "00:00"
        });

        datestart.addEventListener('change', () => {
            let dateStartValue = datestart.value.split(('-'))
            let minDate = new Date(`${dateStartValue[2]}-${dateStartValue[1]}-${dateStartValue[0]}`);
            minDate.setDate(minDate.getDate());
            dateEndInstance.options.minDate = minDate;
        })

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if(Math.log2(nbMaxParticipants.value)%1 > 0 ){
                alert('Seulement les multiples de 2');
            }else{
                form.submit();
            }
        })
    });
</script>
{% endblock %}
