{% extends 'base_back.html.twig' %}

{% block title %}Bettle - Nouveau Tournoi{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Nouveau tournoi</h3>
    </div>
    <div class="card-body">
        <form id="createTournament" action="{{ path('back_tournament_new') }}" method="POST" class="d-flex flex-column gap-1">
            <label for="name" class="form-label">Nom</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Nom du tournoi" required/>
            <label for="nbMaxParticipants" class="form-label">Nombre de participants (seuls les multiples de 2 sont acceptés)</label>
            <input class="form-control" type="number" id="nbMaxParticipants" name="nbMaxParticipants" placeholder="Nombre de participants maximum" required/>
            <label for="dateStart" class="form-label">Date de début</label>
            <input type="date" class="form-control" id="dateStart" name="dateStart" placeholder="Date de début" required/>
            <label for="timeStart" class="form-label">Heure de début</label>
            <input type="time" class="form-control" id="timeStart" name="timeStart" placeholder="Heure de début" required/>
            <label for="dateEnd" class="form-label">Date de fin</label>
            <input type="date" class="form-control" id="dateEnd" name="dateEnd" placeholder="Date de fin" required/>
            <input type="hidden" name="_token" value="{{ csrf_token('newTournament') }}"/>
            <button type="submit" class="btn-primary btn mt-2" value="Create">Créer</button>
        </form>
    </div>
    <div class="card-footer">
        <a href="{{ path('back_tournament_index') }}"><button class="btn-secondary btn w-100">Retourner à la liste</button></a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',  function() {
        let form = document.getElementById('createTournament');
        let nbMaxParticipants = document.getElementById('nbMaxParticipants');
        let defaultDate = new Date();
        defaultDate.setDate(defaultDate.getDate()+1)

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if(nbMaxParticipants.value <= 2 || Math.log2(nbMaxParticipants.value)%1 > 0 ){
                alert('Seulement les multiples de 2 supérieur à 2');
            }else{
                form.submit();
            }
        })
    });
</script>
{% endblock %}
