{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="card-title">Bienvenue sur Bettle, {{ app.user.nickname }}!</h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Utilisez la barre de navigation pour accéder aux différentes fonctionnalités du site.
                </p>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}
