<form method="post" action="{{ path('back_user_edit', { 'id': user.id }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ user.id) }}">
    <button class="btn">Edit</button>
</form>
