<form method="post" action="{{ path('back_user_edit', { 'id': user.id }) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ user.id) }}">
    <button type="submit" class="btn btn-primary w-100">Modifier</button>
</form>
