<form method="post" action="{{ path('back_user_show', { 'id': user.id }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('show' ~ user.id) }}">
    <button type="submit" class="btn btn-secondary w-100">Montrer</button>
</form>
