{% extends 'base_back.html.twig' %}

{% block title %}Bettle - Edit User{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Edit User</h3>
        </div>
        <div class="card-body">
            {{ include('back/user/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('back/user/_pwd_edit_form.html.twig') }}

        </div>
        <div class="card-footer d-flex flex-column gap-2">
            {{ include('back/user/_delete_form.html.twig') }}

            <a href="{{ path('back_user_index') }}">
                <button class="btn btn-secondary w-100">Back to the list</button>
            </a>
        </div>
    </div>


{% endblock %}
