<form method="post" action="{{ path('front_tournament_bet', {'id': tournament.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('bet' ~ tournament.id) }}">
    <button class="btn  btn-bettle">Parier</button>
</form>
