{% extends 'base_front.html.twig' %}

{% block title %}Cancel{% endblock %}

{% block body %}

     <div class="container mt-4">
        <div class="row">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">BETTLE</h4>
                <p>Un problème est survenu au moment du paiement ! Veuillez réessayer. </p> 
            </div>
        </div>
    </div>
{% endblock %}