{% extends 'base_front.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="name-page">Acheter des crédits</h1>
    <div>
    <div class="container-credit">
        <div class="cat-credit">
            <div class="block">
            <div class="card-title">
                    <label for="credit">100 crédits </label>
                </div>
                <div class="card-text">
                    <label for="price">10€</label>
                </div>
                <div class="btn-credit">
                    <a href='/payment/100' class="btn btn-danger">Acheter</a>
                </div>
            </div>
        </div>

        <div class="cat-credit">
            <div class="block">
            <div class="card-title">
                    <label for="credit">250 crédits </label>
                </div>
                <div class="card-text">
                    <label for="price">25€</label>
                </div>
                <div class="btn-credit">
                    <a href='/payment/250' class="btn btn-danger">Acheter</a>
                </div>
            </div>
        </div>

        <div class="cat-credit">
            <div class="block">
                <div class="card-title">
                    <label for="credit">500 crédits </label>
                </div>
                <div class="card-text">
                    <label for="price">50€</label>
                </div>
                <div class="btn-credit">
                    <a href='/payment/500' class="btn btn-danger">Acheter</a>
                </div>
            </div>
        </div>
   
         <div class="cat-credit">
            <div class="block">
            <div class="card-title">
                    <label for="credit">750 crédits </label>
                </div>
                <div class="card-text">
                    <label for="price">75€</label>
                </div>
                <div class="btn-credit">
                    <a href='/payment/750' class="btn btn-danger">Acheter</a>
                </div>
            </div>
        </div> 

        <div class="cat-credit">
            <div class="block">
            <div class="card-title">
                    <label for="credit">1000 crédits </label>
                </div>
                <div class="card-text">
                    <label for="price">100€</label>
                </div>
                <div class="btn-credit">
                    <a href='/payment/1000' class="btn btn-danger">Acheter</a>
                </div>
            </div>
        </div> 

        <div class="cat-credit">
            <div class="block">
            <div class="card-title">
                    <label for="credit">5000 crédits </label>
                </div>
                <div class="card-text">
                    <label for="price">500€</label>
                </div>
                <div class="btn-credit">
                    <a href='/payment/5000' class="btn btn-danger">Acheter</a>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}

{% block stylesheets%}
<style>
.container-credit {
  
   display:flex;
   flex-direction:row;
   flex-wrap: wrap;
   
}
.cat-credit {
    
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #000000;
    margin: 30px;
    padding:25px;
    border-radius: 8px;
    width:25%;
}
h2{
    font-size: 25px;
}
.name-page {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin:25px;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.card-title {   
    font-weight: bold;
    color: #000;
}
.btn-credit{
    margin-top: 20px;
}
label {
    font-size: 19px;
    color: #000;
}
</style>
{% endblock %}



