{% extends 'base_front.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="name-page">Acheter des crédits</h1>
    <div>
    <div class="container-credit">
        <div class="cat-credit">
            <div class="block">
                <label for="credit">100 crédits </label>
                <label for="price">10 €</label>
                <div>
                    <a href='/payment/100' class="btn btn-outline-danger">Acheter</a>
                </div>
            </div>
        </div>

        <div class="cat-credit">
            <div class="block">
                <label for="credit">250 crédits </label>
                <label for="price">25€</label>
                <div>
                    <a href='/payment/250' class="btn btn-outline-danger">Acheter</a>
                </div>
            </div>
        </div>

        <div class="cat-credit">
            <div class="block">
                <label for="credit">500 crédits </label>
                <label for="price">50€</label>
                <div>
                    <a href='/payment/500' class="btn btn-outline-danger">Acheter</a>
                </div>
            </div>
        </div>
   
         <div class="cat-credit">
            <div class="block">
                <label for="credit">750 crédits </label>
                <label for="price">65€</label>
                <div>
                    <a href='/payment/750' class="btn btn-outline-danger">Acheter</a>
                </div>
            </div>
        </div> 
    </div>
    
    
</div>
{% endblock %}

{% block stylesheets%}
<style>
.container-credit {
  
   display:flex;
   flex-direction:row;
   flex-wrap: wrap;
   
}
.cat-credit {
    
    background-color:#333;
    color: white;
    margin: 30px;
    padding:25px;
    border-radius: 8px;
    width:25%;
}
h2{
    font-size: 25px;
}
.name-page {
    display: flex;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin:25px;
}
</style>
{% endblock %}



