{% extends 'base_front.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}

     <div class="container mt-4">
        <div class="row">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">BETTLE</h4>
                <p>Votre paiement a été accepté ! Votre compte a été crédité. </p> 
            </div>
        </div>
    </div>
{% endblock %}