{% extends 'base_front.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}

     <div class="container mt-4">
     <div class="d-flex mb-4">
        <h1 class="flex-shrink-0">Crédits</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Acheter des crédits<p>
    </div>
        <div class="row">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">BETTLE</h4>
                <p>Votre paiement a été accepté ! Votre compte a été crédité. </p> 
            </div>
        </div>
    </div>
{% endblock %} 