<form method="post" action="{{ path('back_trial_delete', {'id': trial.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trial.id) }}">
    <button class="btn btn-danger w-100">Delete</button>
</form>
