{#TODO Vérifier que ce fichier est bel et bien utilisé (ce qui n'a pas l'air d'être le cas)#}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
