<form method="post" action="{{ path('back_trial_modify_date', {'id': trial.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('modifyDate' ~ trial.id) }}">
    <button class="btn">Modify date</button>
</form>