<form method="post" action="{{ path('back_trial_refuse_challenge', {'id': trial.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('refuseChallengeBack' ~ trial.id) }}">
    <button class="btn">Back Refusse</button>
</form>