<form method="post" action="{{ path('back_trial_start', {'id': trial.id}) }}" onsubmit="return confirm('Are you sure you want to start this trial?');">
    <input type="hidden" name="_token" value="{{ csrf_token('start' ~ trial.id) }}">
    <button class="btn btn-primary">Démarrer</button>
</form>
