<form method="post" action="{{ path('front_user_challenge', {'id': fighter.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir défier ce combattant en duel?');">
    <input type="hidden" name="_token" value="{{ csrf_token('challenge' ~ fighter.id) }}">
    <button class="btn btn-bettle">Challenge</button>
</form>