<form method="post" action="{{ path('front_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-bettle mt-2">Supprimer</button>
</form>
