{% extends 'base_front.html.twig' %}

{% block title %}Fighters{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les combattants du site !</h1>

    <table>
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Description</th>
                <th>Stats</th>
                {% if is_granted('ROLE_FIGHTER') %}
                    <th>Challenge</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for fighter in fighters %}
            <tr>
                <th>{{ fighter.nickname }}</th>
                <th>{{ fighter.description }}</th>
                <th><a href="{{ path('front_user_show', {'id': fighter.id}) }}">Profile</a></th>
                {% if is_granted('ROLE_FIGHTER') and canChallenge(app.user, fighter) %}
                    <th>
                        {% if canChallenge(app.user, fighter) %}
                                {{ include('front/user/_challenge_form.html.twig') }}
                        {% elseif app.user.id != fighter.id %}
                            Challenge already waiting
                        {% endif %}
                    </th>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
