{% extends 'base_front.html.twig' %}

{% block title %}Combattants{% endblock %}

{% block stylesheets %}
<style>
        .description{
            text-align:justify;
        }

</style>
{% endblock %}
{% block body %}


<div class="container mt-5">
    <div class="d-flex ">
        <h1 class="flex-shrink-0">Compétiteurs</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Tous nos compétiteurs<p>
    </div>

   
        
    <div class="mt-4 d-flex flex-wrap ">
        {% for fighter in fighters %}
        <div class="card m-2 shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ fighter.nickname }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text description">{{ fighter.description }}</p>

                <div class="d-flex">
                <a class="card-link btn btn-bettle" href="{{ path('front_user_show', {'id': fighter.id}) }}">Profile</a>
                {% if is_granted('ROLE_FIGHTER')%} 
                <p class="mx-2">
                        {% if canChallenge(app.user, fighter) %}
                            {{ include('front/user/_challenge_form.html.twig') }}
                        {% elseif app.user.id != fighter.id %}
                           Challenge en attente
                        {% endif %}
                </p>
                {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}