<form method="post" action="{{ path('back_ticket_accept', {'id': ticket.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ ticket.id) }}">
    <button class="btn">Accept</button>
</form>
